
 /* Main container */
.contact-container {
  text-align: center;
  color: #e5e5e5;
  width: 1200px;
  margin: 0 auto;  /* Centers content */
}
 
 
 /* Hero Section */
.hero3 {
  background-color: rgba(54, 82, 69, 0.4);
  background-size: cover;
  padding: 50px;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 3rem;
}


/* Header section */
.contact-header h1 {
  font-size: 36px;
  margin: 0;
  line-height: 1.3;
}


.contact-header .subhead {
  font-weight: bold;
}

.contact-header p {
  font-size: 15px;
  color: #222;
  max-width: 550px;
  margin: 10px auto 40px auto;
  line-height: 1.6;
}

/* Form container */
.contact-form {
  background-color: #080808;
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 5rem;
}

.contact-form label {
  text-align: left;
  font-size: 14px;
  margin-bottom: 6px;
  color: #e5e5e5;
}

.contact-form input,
.contact-form textarea {
  background-color: #1c231c;
  border: none;
  border-radius: 5px;
  color: #eaeaea;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 14px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #999;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  background-color: #d9ff00;
  color: #000;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.contact-form button:hover {
  background-color: #c4eb00;
}

/* CTA Section */
.cta {
  background: #1a1a1a;
  text-align: center;
  padding-left: 20rem; 
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-text {
  max-width: 70%;
}

.cta-text h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color:  #d9ff00;
}

.cta-text p {
  color: #ccc;
  font-size: 1rem;    /* optional: make it a bit larger */
}
.cta-Rights h4{
  color: rgb(152, 84, 84);
}